absl-py==2.1.0
accelerate==0.27.2
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
autoconfig==5.0.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==0.7.11
botw-save-editor==2.0.2
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
configobj==5.0.8
configparser==6.0.0
contourpy==1.2.0
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
cymem==2.0.8
datasets==2.17.1
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
document==1.0
docx==0.2.4
easyocr==1.7.1
EbookLib==0.18
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.0
feedfinder2==0.0.4
feedgen==1.0.0
feedparser==6.0.11
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.50.0
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gpt-2-simple==0.8.1
grpcio==1.62.0
h11==0.14.0
h5py==3.10.0
httplib2==0.22.0
huggingface-hub==0.21.4
idna==3.6
imageio==2.33.1
img2pdf==0.5.1
importlib-metadata==7.0.1
inflate64==1.0.0
inquirerpy==0.3.4
isodate==0.6.1
itsdangerous==2.2.0
jieba3k==0.35.1
Jinja2==3.1.3
joblib==1.3.2
keras==2.15.0
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.42.0
looseversion==1.3.0
lxml==5.1.0
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.8.3
mido==1.3.2
ml-dtypes==0.2.0
mouse==0.7.1
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
multivolumefile==0.2.3
murmurhash==1.0.10
mysql-connector-python==8.3.0
networkx==3.2.1
newspaper3k==0.2.8
nibabel==5.2.0
ninja==1.11.1.1
nipype==1.8.6
nltk==3.8.1
numba==0.59.0
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
parrot==0.0.16
pathlib==1.0.1
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20231228
pfzy==0.3.4
pikepdf==8.14.0
Pillow==10.1.0
platformdirs==4.2.0
pooch==1.8.1
preshed==3.0.9
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==4.25.3
prov==2.0.0
psutil==5.9.8
psycopg2==2.9.9
py7zr==0.22.0
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pybcj==1.0.2
pycdlib==1.14.0
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
pydot==2.0.0
pyee==8.2.2
pygame==2.5.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMuPDF==1.23.19
PyMuPDFb==1.23.9
pynput==1.7.6
pyodbc==5.1.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.8.2
pyphen==0.14.0
pyppeteer==1.0.2
pyppmd==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
pytesseract==0.3.10
pyth==0.6.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-pptx==0.6.23
pytweening==1.0.7
pytz==2023.3.post1
pyxnat==1.6.2
PyYAML==6.0.1
pyzstd==0.16.1
rdflib==7.0.0
regex==2023.12.25
reportlab==4.0.9
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.2
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.12.0
selenium==4.23.1
sentence-transformers==2.5.1
sentencepiece==0.2.0
sgmllib3k==1.0.0
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
sympy==1.12
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tesseract==0.1.3
textstat==0.7.3
texttable==1.7.0
thinc==8.2.3
threadpoolctl==3.3.0
tifffile==2024.2.12
tinysegmenter==0.3
tldextract==5.1.1
tokenizers==0.15.2
toposort==1.10
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.1
traits==6.3.2
transformers==4.38.1
trio==0.24.0
trio-websocket==0.11.1
typer==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==1.26.18
virtualenv==20.25.1
walk==0.3.5
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
wkhtmltopdf==0.2
wrapt==1.14.1
wsproto==1.2.0
XlsxWriter==3.1.9
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
